body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Air BNB Cereal";
  src: local("Air BNB Cereal"), url("./styles/fonts/AirBNB/AirbnbCereal.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./styles/fonts/Inter/Inter-Regular.otf") format("opentype")
}
